.assort
  width 100%
  .header
    width 100%
    height 50px
    padding 0 20px
    box-sizing border-box
    padding-top 10px
    border-bottom 1px solid #eeeeee
    .search
      width 100%
      background #eeeeee
      text-align center
      height 30px
      border-radius 5px
      line-height 30px
  .content
    width 100%
    display flex
    .leftlist
      width 30%
      .list
        width 100%
        padding 20px 0
        .item
          padding 15px
          span 
            font-size 14px
    .rightlist
      width 70%
      padding 10px
      .headerImg
        width 100%
        img 
          width 100%
          height 130px
      .content
        width 100%
        .listitem
          display flex
          flex-wrap wrap
          .item
            width 33.33333%
            margin 10px 0
            img 
              width 72px
              height 72px
            span 
              font-size 12px
.xxxx

