.scan {
  width: 100%;
}
.scan .header {
  width: 100%;
}
.scan .header .header-top {
  width: 100%;
  height: 50px;
  background: #f5f5f5;
  font-size: 20px;
  line-height: 50px;
  padding: 0 10px;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #a9a9a9;
}
.scan .header .header-top span:first-of-type {
  color: #a52a2a;
  font-weight: bold;
  margin: 0 10px 0 85px;
}
.scan .header .header-top span:last-of-type {
  font-size: 14px;
}
.scan .header .header-top .iconfont {
  font-size: 25px;
}
.scan .header .header-top .iconright {
  width: 20%;
  position: absolute;
  right: 20px;
}
.scan .header .header-bottom {
  width: 100%;
  overflow: hidden;
}
.scan .header .header-bottom .listitem {
  display: flex;
  height: 40px;
  white-space: nowrap;
  line-height: 40px;
  background: #f5f5f5;
}
.scan .header .header-bottom .listitem .item {
  padding: 0 20px;
  font-size: 15px;
}
.scan .content .item-index1 {
  padding: 10px;
  border-bottom: 10px solid #eee;
}
.scan .content .item-index1 img {
  width: 100%;
}
.scan .content .item-index-odd {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 10px solid #eee;
}
.scan .content .item-index-odd .avatar {
  margin-bottom: 20px;
}
.scan .content .item-index-odd .avatar img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  vertical-align: middle;
}
.scan .content .item-index-odd .avatar span {
  vertical-align: middle;
}
.scan .content .item-index-odd .title {
  font-size: 20px;
  margin-bottom: 10px;
}
.scan .content .item-index-odd .bigImg {
  width: 100%;
}
.scan .content .item-index-odd .viewcount {
  padding: 10px 0;
  font-size: 12px;
  color: #808080;
}
.scan .content .item-index-even {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 10px solid #eee;
}
.scan .content .item-index-even .left {
  float: left;
  width: 60%;
}
.scan .content .item-index-even .left .avatar {
  margin-bottom: 20px;
}
.scan .content .item-index-even .left .avatar img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  vertical-align: middle;
}
.scan .content .item-index-even .left .avatar span {
  vertical-align: middle;
}
.scan .content .item-index-even .left .title {
  font-size: 20px;
}
.scan .content .item-index-even .left .dec {
  font-size: 14px;
  color: #808080;
  margin: 10px 0;
}
.scan .content .item-index-even .left .viewcount {
  font-size: 14px;
  color: #808080;
}
.scan .content .item-index-even .right {
  float: right;
  width: 40%;
}
.scan .content .item-index-even .right img {
  width: 136px;
  height: 136px;
}
