#shop
  width 100%
  height 100%
  background #DCDCDC
  .header
    width 100%
    height 40px
    padding-top 20px
    // box-sizing border-box
    // margin-bottom 10px
    background #ffffff
    & span:first-child
      font-size 20px
      margin-left 20px
    & span:last-child
      float right
      margin-right 30px
      background #F73809
      color #ffffff
      font-size 10px
      padding 5px
  .contentWarp
    width 100%
    .title
      width 100%
      font-size 14px
      display flex
      text-align center
      background 		#D3D3D3
      line-height 35px
      span 
        width 33.33333%
    .content
      width 100%
      text-align center
      display flex
      flex-direction column
      
      .iconfont
        font-size 80px
        margin 100px 0 20px 0
        color #eee
// .xxx        
        
        
        
      



      
